.vscode/
build/
# Ignore most of the data folder expect for small files
data/
# Allow small datasets (10 subjects or fewer)
!data/empirical/**/*nsubj-10*
!data/empirical/**/*desc-nomedialwall.func.gii
!data/empirical/**/*desc-subjects.txt
!data/heteromaps/
!data/nulls/
figures/
heteromodes.egg-info/
results/
scripts/.ipynb_checkpoints/
scripts/sandbox/
scripts/_console.*
.env
**/__pycache__/
*.ipynb
*.sh
*.json
*.DS_Store

conda-environment.yml