# IDE and environment
.vscode/
.venv/
.github/
.env

# Python
**/__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/

# Data directories
data/archive/
data/cache/
data/temp/
data/test/
# Keep specific parcellations
data/parcellations/*
!data/parcellations/
!data/parcellations/*hcpmmp1*den-32k*
!data/parcellations/*schaefer300*den-32k*

# Heteromaps
data/heteromaps/human/archive/
data/heteromaps/macaque/v2/
data/heteromaps/macaque/source-funck2022*

# Empirical data - setup intermediate directories to unignore files within
!data/empirical/
data/empirical/*
!data/empirical/*/
data/empirical/*/*
# Keep only specific empirical files
# !data/empirical/**/*nsubj-10*
!data/empirical/**/*desc-nomedialwall.func.gii
!data/empirical/**/*desc-midthickness.surf.gii

# Results and figures
figures/
results/

# Scripts
scripts/.ipynb_checkpoints/
scripts/sandbox/
scripts/_console.*
scripts/preprocessing/
scripts/data_generation/

# File types
*.ipynb
*.png
*.sh
*.DS_Store
*.h5
*.mat

# Project-specific
conda-environment.yml
