.vscode/
build/
# Ignore most of the data directory
data/archive/
data/cache/
data/parcellations
data/surfaces
data/temp/
data/nulls/
# Setup intermediate directories to unignore files within
!data/empirical/
data/empirical/*
!data/empirical/*/
data/empirical/*/*
# Specify files to keep
!data/empirical/**/*nsubj-10*
!data/empirical/**/*desc-nomedialwall.func.gii
!data/empirical/**/*desc-midthickness.surf.gii
figures/
heteromodes.egg-info/
figures/
heteromodes.egg-info/
results/
# # Setup intermediate directories
# !results/*/
# results/*/*
# !results/*/model_rest/
# results/*/model_rest/*
# !results/*/model_rest/group/
# results/*/model_rest/group/*
# !results/*/model_rest/group/id-*/
# results/*/model_rest/group/id-*/*
# !results/*/model_rest/group/id-*/*/
# results/*/model_rest/group/id-*/*/*
# !results/*/model_rest/group/id-*/*/*/
# results/*/model_rest/group/id-*/*/*/*
# # Specify files to keep
# !results/*/model_rest/group/*/config.json
# !results/*/model_rest/group/**/best_model.h5
# !results/*/model_rest/group/**/parameter_combinations.csv
scripts/.ipynb_checkpoints/
scripts/sandbox/
scripts/_console.*
.env
**/__pycache__/
*.ipynb
*.sh
*.png
*.DS_Store

conda-environment.yml